@font-face {
  font-family: "Hero";
  src: url("../fonts/Hero-Light.eot");
  src: local("Hero"), local("Hero"), url("../fonts/Hero-Light.woff") format("woff"), url("../fonts/Hero-Light.ttf") format("truetype"), url("../fonts/Hero-Light.svg#Hero") format("svg"); }
@font-face {
  font-family: "weather";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* --------------------------------
 *
 *Primary style
 *
 *-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

input {
  font-family: "Playfair Display"; }

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Playfair Display"; }

img {
  max-width: 100%; }

h1 {
  font-family: "Playfair Display", serif !important;
  font-weight: regular !important;
  font-size: 50px !important;
  margin: 1em 0 !important;
  color: #684607 !important; }

h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 20px !important;
  color: #353942 !important;
  line-height: 23px !important;
  margin: 20px; }

h3 {
  font-family: "Playfair Display", serif !important;
  font-size: 25px !important;
  color: #353942 !important;
  line-height: 23px !important;
  margin: 30px; }

h4 {
  font-family: "Playfair Display", serif !important;
  font-size: 26px !important;
  color: #684607 !important;
  line-height: 33px !important;
  text-transform: uppercase; }

p, td, li, ul {
  font-family: "Playfair Display", serif !important;
  font-size: 15px !important;
  line-height: 23px !important;
  color: #353942 !important; }

ol, ul {
  line-height: 23px;
  list-style: inherit;
  margin: 1em 0; }
  ol li, ul li {
    margin-left: 0px; }
    @media only screen and (min-width: 992px) {
      ol li, ul li {
        margin-left: 25px; } }

input {
  font-size: 17px;
  font-size: 1.21429rem;
  height: 60px;
  font-family: "Playfair Display", serif;
  min-width: 250px;
  padding: 17px;
  border-radius: 0px; }

label {
  font-family: "Playfair Display", serif;
  font-size: 13px;
  font-size: 0.92857rem;
  margin-bottom: 5px;
  text-transform: uppercase; }

.mailsubmit {
  background-color: #353942;
  margin-top: 2px;
  min-width: 250px; }
  @media only screen and (min-width: 992px) {
    .mailsubmit {
      margin-left: -3px; } }

input[type=submit]:hover {
  background-color: #CE533B !important; }

.btn {
  height: 50px;
  min-width: 230px;
  cursor: pointer;
  border-radius: 0px;
  background-color: #353942;
  color: white;
  -webkit-font-smoothing: antialiased;
  border: none;
  font-family: "Hero", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

.btn:hover {
  background-color: #1C1E23;
  color: white;
  cursor: pointer; }

.btn:hover, .btn:active, .btn:focus {
  cursor: pointer; }

.btn[data-toggle='dropdown'] {
  min-width: 50px;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  background-color: white;
  color: #684607;
  font-weight: bold; }

.dropdown {
  float: right;
  border: 1px solid #684607;
  min-width: 55px;
  margin-top: 20px;
  position: relative; }

.btn .caret {
  margin-left: 10px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.dropdown-menu {
  left: -17px;
  min-width: 95px;
  z-index: 100000;
  top: 40px; }

.dropdown-menu > li {
  margin-left: 0px !important;
  font-size: 14px; }

.dropdown-menu > li > a {
  padding: 15px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }

select {
  padding: 3px;
  margin: 0;
  height: 40px;
  padding-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0;
  -moz-box-shadow: 0 2px 0;
  font-family: "Playfair Display", serif;
  font-size: 17px;
  background: none;
  color: #353942;
  font-size: 16px;
  min-width: 80px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

.felle {
  position: relative; }

.felle:after {
  content: "<>";
  font: 15px "Consolas", monospace;
  color: black;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
header {
  border-bottom: 1px solid #684607; }

.top-container .row .col-md-12 {
  height: 90px; }

.logo_container {
  max-width: 130px;
  border: 1px solid #684607;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 767px) {
    .logo_container {
      max-width: 170px; } }
  @media only screen and (min-width: 992px) {
    .logo_container {
      margin: inherit;
      margin-top: -1px; } }
  .logo_container img {
    max-width: 110px;
    margin-top: 10px;
    margin-bottom: 5px; }
    @media only screen and (min-width: 992px) {
      .logo_container img {
        max-width: 140p; } }
  .logo_container p {
    color: rgba(0, 0, 0, 0.55) !important;
    font-weight: bold;
    font-size: 13px !important;
    margin-bottom: 0px; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  bottom: 0;
  right: 10px;
  left: initial;
  margin: auto;
  z-index: 200; }

.sw-topper, .sw-bottom, .sw-footer {
  background: #684607; }

.toggle_menu {
  position: absolute;
  z-index: 100000;
  width: 50px;
  float: left;
  background-color: white;
  left: 20px;
  margin-top: -10px;
  display: block; }
  @media only screen and (min-width: 992px) {
    .toggle_menu {
      width: 100px;
      display: none; } }
  .toggle_menu p {
    font-weight: bold;
    margin: 0 5px 0px;
    text-align: left;
    display: none; }
    @media only screen and (min-width: 992px) {
      .toggle_menu p {
        display: block; } }

.horizontal {
  max-width: 800px;
  position: absolute;
  top: 20px;
  left: 170px;
  display: none; }
  .horizontal li {
    display: inline-block; }
  @media only screen and (min-width: 992px) {
    .horizontal {
      display: block; } }
  .horizontal a {
    text-transform: uppercase;
    color: #353942; }
  .horizontal a:active {
    text-decoration: none; }
  .horizontal a:hover, .horizontal a:active {
    text-decoration: none;
    font-weight: bold; }
  .horizontal a.active {
    font-weight: bold; }

.toggle_menu:focus {
  outline: none; }

.top_menu ul a {
  font-size: 30px;
  font-size: 2.14286rem; }

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none; }

#weather {
  padding-bottom: 5px;
  background-color: whitesmoke;
  padding-top: 5px; }
  #weather h2 {
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-size: 15px !important;
    color: #675C5C !important;
    margin-bottom: 0px;
    font-weight: bold !important;
    margin-top: -5px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px; }
  #weather .currently {
    display: inline-block;
    margin-left: 10px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    color: #675C5C;
    text-transform: uppercase; }

i {
  color: #675c5c;
  font-family: weather;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none; }

.icon-0:before {
  content: ":"; }

.icon-1:before {
  content: "p"; }

.icon-2:before {
  content: "S"; }

.icon-3:before {
  content: "Q"; }

.icon-4:before {
  content: "S"; }

.icon-5:before {
  content: "W"; }

.icon-6:before {
  content: "W"; }

.icon-7:before {
  content: "W"; }

.icon-8:before {
  content: "W"; }

.icon-9:before {
  content: "I"; }

.icon-10:before {
  content: "W"; }

.icon-11:before {
  content: "I"; }

.icon-12:before {
  content: "I"; }

.icon-13:before {
  content: "I"; }

.icon-14:before {
  content: "I"; }

.icon-15:before {
  content: "W"; }

.icon-16:before {
  content: "I"; }

.icon-17:before {
  content: "W"; }

.icon-18:before {
  content: "U"; }

.icon-19:before {
  content: "Z"; }

.icon-20:before {
  content: "Z"; }

.icon-21:before {
  content: "Z"; }

.icon-22:before {
  content: "Z"; }

.icon-23:before {
  content: "Z"; }

.icon-24:before {
  content: "E"; }

.icon-25:before {
  content: "E"; }

.icon-26:before {
  content: "3"; }

.icon-27:before {
  content: "a"; }

.icon-28:before {
  content: "A"; }

.icon-29:before {
  content: "a"; }

.icon-30:before {
  content: "A"; }

.icon-31:before {
  content: "6"; }

.icon-32:before {
  content: "1"; }

.icon-33:before {
  content: "6"; }

.icon-34:before {
  content: "1"; }

.icon-35:before {
  content: "W"; }

.icon-36:before {
  content: "1"; }

.icon-37:before {
  content: "S"; }

.icon-38:before {
  content: "S"; }

.icon-39:before {
  content: "S"; }

.icon-40:before {
  content: "M"; }

.icon-41:before {
  content: "W"; }

.icon-42:before {
  content: "I"; }

.icon-43:before {
  content: "W"; }

.icon-44:before {
  content: "a"; }

.icon-45:before {
  content: "S"; }

.icon-46:before {
  content: "U"; }

.icon-47:before {
  content: "S"; }

/* --------------------------------
 *
 *secondnav
 *
 *-------------------------------- */
.second_nav {
  background-color: #684607;
  height: 80px; }
  .second_nav .container {
    padding-top: 8px; }
  .second_nav a {
    display: inline-block;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 6px;
    position: relative;
    top: 2px;
    font-size: 13px;
    color: #dadada;
    line-height: 30px;
    text-transform: uppercase; }
  .second_nav a.active {
    color: white;
    font-weight: bold; }
  .second_nav a:hover {
    color: white;
    text-decoration: none; }

@media (min-width: 680px) {
  .second_nav {
    height: 50px; } }
@media (min-width: 992px) {
  .second_nav a {
    font-size: 16px; } }
@media (min-width: 1040px) {
  .second_nav a {
    padding-left: 20px; } }
/* --------------------------------
 *
 *cover
 *
 *-------------------------------- */
.cover .row {
  margin-left: 0px;
  margin-right: 0px; }
.cover .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }
  .cover .col-md-12 h2 {
    color: black !important; }
  .cover .col-md-12 h1 {
    color: white !important;
    margin-bottom: 35 px !important;
    margin-top: 0px !important; }
  .cover .col-md-12 h3 {
    color: white !important;
    margin-bottom: 40px; }
  .cover .col-md-12 .textholder {
    padding-top: 185px; }

.gallery-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: none;
  counter-increment: gallery-cell; }

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

.cover .flickity-viewport {
  height: 800px !important; }

.flickity-page-dots {
  bottom: 10px; }

.b1 {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.b2 {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.b3 {
  background-image: url(../images/badacsony.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.gallery-cell:before {
  display: none; }

.flickity-page-dots .dot {
  background: white; }

.flickity-page-dots {
  bottom: 340px; }

@media (max-width: 528px) {
  .flickity-page-dots {
    bottom: 300px; } }
.flickity-prev-next-button {
  display: none; }

.textholder {
  right: 0;
  left: 0;
  text-align: center;
  position: absolute;
  z-index: 1;
  padding-top: 170px; }

.btn.cover {
  background-color: white;
  opacity: 0.6;
  color: #684607;
  padding-top: 15px; }

.btn.cover:hover {
  opacity: 1;
  background-color: white; }

/* --------------------------------
 *
 *Tiles
 *
 *-------------------------------- */
.cover a:hover, .cover a:active, .cover a:focus {
  text-decoration: none; }

.offers.col-md-4, .eventstile.col-md-4, .course.col-md-4 {
  margin: 10px;
  background-color: white;
  min-height: 340px;
  padding: 40px;
  -webkit-box-shadow: 15px 15px 25px -8px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 15px 15px 25px -8px rgba(0, 0, 0, 0.26);
  box-shadow: 15px 15px 25px -8px rgba(0, 0, 0, 0.26);
  transition: background-image 0.3s ease;
  transition: box-shadow 0.3s ease;
  text-align: center; }
  .offers.col-md-4 h3, .eventstile.col-md-4 h3, .course.col-md-4 h3 {
    color: #353942 !important;
    margin: initial;
    margin-bottom: 10px; }

.offers.col-md-4:hover, .eventstile.col-md-4:hover, .course.col-md-4:hover {
  -webkit-box-shadow: 14px 14px 15px -10px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 14px 14px 15px -10px rgba(0, 0, 0, 0.54);
  box-shadow: 14px 14px 15px -10px rgba(0, 0, 0, 0.54);
  background-image: none; }

.offers.col-md-4 {
  margin: 10px;
  margin-top: -280px; }
  @media only screen and (min-width: 992px) {
    .offers.col-md-4 {
      margin: 9px;
      margin-top: -280px; } }

.eventstile.col-md-4 {
  margin: 10px;
  margin-top: 0; }
  @media only screen and (min-width: 992px) {
    .eventstile.col-md-4 {
      margin: 9px;
      margin-top: -280px; } }

.course.col-md-4 {
  margin: 10px;
  margin-top: 0px; }
  @media only screen and (min-width: 992px) {
    .course.col-md-4 {
      margin: 9px;
      margin-top: -280px; } }

@media (min-width: 992px) {
  .col-md-4 {
    width: 31.33333%;
    text-align: center; } }
.offers {
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat; }

.course {
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat; }

.eventstile {
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat; }

/* --------------------------------
 *
 *golf-course
 *
 *-------------------------------- */
.golf-course.container {
  margin-top: 40px; }
  .golf-course.container .col-md-6.img {
    background-image: url("../images/junior.jpg");
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat; }
  .golf-course.container .col-md-6.txt {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .golf-course.container .col-md-6.txt {
        text-align: left; } }
    .golf-course.container .col-md-6.txt p {
      margin-top: 20px;
      margin-bottom: 40px; }

/* --------------------------------
 *
 *hotel
 *
 *-------------------------------- */
.hotel.container .col-md-6.img {
  background-image: url("../images/badacsony.JPG");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .hotel.container .col-md-6.img {
      float: right; } }
.hotel.container .col-md-6.txt {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .hotel.container .col-md-6.txt {
      text-align: left; } }
  .hotel.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *map
 *
 *-------------------------------- */
.map.container .col-md-6.img {
  background-image: url("../images/Imperial-teljes.png");
  height: 370px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px; }
  @media only screen and (min-width: 992px) {
    .map.container .col-md-6.img {
      margin-bottom: 60px; } }
  .map.container .col-md-6.img .btn {
    height: 100%;
    width: 100%;
    background-color: transparent; }
.map.container .col-md-6.txt {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .map.container .col-md-6.txt {
      text-align: left; } }
  .map.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

#myModal {
  background-color: rgba(0, 0, 0, 0.79) !important; }

.modal-header {
  border-bottom: none; }

.close {
  color: black;
  opacity: 1; }

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  border: none !important; }

.modal.in .modal-dialog {
  min-width: 100%; }
  @media only screen and (min-width: 767px) {
    .modal.in .modal-dialog {
      min-width: 600px; } }
  @media only screen and (min-width: 992px) {
    .modal.in .modal-dialog {
      min-width: 800px; } }

/* --------------------------------
 *
 *SUBSCRIBE
 *
 *-------------------------------- */
.subscribe.container {
  background-color: #cbccce;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px; }
  .subscribe.container .input-group {
    margin: 0 auto; }
    .subscribe.container .input-group input {
      height: 50px;
      max-width: initial;
      display: inline-block;
      margin-bottom: 10px; }
      @media only screen and (min-width: 992px) {
        .subscribe.container .input-group input {
          max-width: 250px; } }
  .subscribe.container .btn {
    margin-left: 2px; }

/* --------------------------------
 *
 *attractions
 *
 *-------------------------------- */
.attractions.container {
  /* cell number */ }
  .attractions.container .col-md-12 {
    text-align: center;
    padding: 100px; }
  .attractions.container .gallery {
    height: 500px; }
    @media only screen and (min-width: 992px) {
      .attractions.container .gallery {
        height: 300px; } }
  .attractions.container .gallery-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
    padding: 90px; }
    .attractions.container .gallery-cell h4 {
      margin-bottom: 20px; }
    .attractions.container .gallery-cell p, .attractions.container .gallery-cell h4 {
      text-align: center;
      color: white !important; }
  .attractions.container .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white; }
  .attractions.container .flickity-page-dots {
    bottom: 10px; }
  .attractions.container .b1 {
    background-image: url(../images/keszthely.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .attractions.container .b2 {
    background-image: url(../images/badacsony.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .attractions.container .b3 {
    background-image: url(../images/szigliget.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .attractions.container .b4 {
    background-image: url(../images/heviz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .attractions.container .b5 {
    background-image: url(../images/tihany.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; }
  .attractions.container .gallery-cell:before {
    display: none; }
  .attractions.container .flickity-page-dots .dot {
    background: white; }
  .attractions.container .flickity-page-dots {
    bottom: 200px0px; }
  .attractions.container .flickity-prev-next-button {
    display: block; }

/* --------------------------------
 *
 *References
 *
 *-------------------------------- */
.references.container .row {
  padding-bottom: 100px; }
.references.container .col-md-12 {
  text-align: center;
  padding: 100px;
  padding-bottom: 30px; }
.references.container .col-md-4 {
  padding: 30px;
  text-align: center; }
.references.container p:before {
  content: "*";
  padding-bottom: 50px;
  display: block;
  color: #684607;
  font-size: 33px; }
@media only screen and (min-width: 992px) {
  .references.container .col-md-4 {
    width: 33.33333%; } }

/* --------------------------------
 *
 *reservation
 *
 *-------------------------------- */
.reservation.container .title {
  background-color: #cbccce;
  text-align: center;
  padding: 30px; }
  .reservation.container .title h4 {
    color: #353942 !important; }
.reservation.container .col-md-12 {
  text-align: center; }
.reservation.container .button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 15px; }

/* --------------------------------
 *
 *footer
 *
 *-------------------------------- */
.main_footer {
  background-color: #353942; }
  .main_footer .heart, .main_footer a, .main_footer .copyright {
    color: white; }

.album_holder h5 {
  margin: -4px 0 0 0 !important;
  font-family: "Playfair Display", serif !important;
  color: #353942 !important;
  font-size: 17px !important; }

.album_holder > div.album_link {
  display: none !important; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .about .title {
  text-align: center;
  padding: 50px;
  max-width: 800px; }
  body .about .title h4 {
    padding-bottom: 20px; }
  body .about .title .form {
    margin-top: 40px; }
  body .about .title .btn {
    margin-top: 20px; }
  body .about .title .form-group {
    max-width: 350px;
    margin: 0 auto; }
body .about .titlebackground {
  background-color: #ecebdd;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding-left: 0px;
  padding-right: 0px; }
body .google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
body iframe {
  width: 100% !important;
  height: 400px; }
body .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  top: 400px;
  margin-top: -400px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .academy .title {
  text-align: center;
  padding: 50px;
  max-width: 800px; }
  body .academy .title h4 {
    padding-bottom: 20px; }
body .academy .titlebackground {
  background-image: url("../images/coach.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center; }

/* --------------------------------
 *
 *coaches
 *
 *-------------------------------- */
body .academy .container.coaches {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f5f5f5; }
  body .academy .container.coaches img {
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 100px; }
  body .academy .container.coaches p {
    max-width: 800px;
    margin: 0 auto; }
  body .academy .container.coaches h3 {
    line-height: 0px !important; }
  body .academy .container.coaches .btn {
    margin-top: 20px; }
body .academy .prices {
  max-width: 800px;
  text-align: center; }
  body .academy .prices .table-responsive {
    text-align: left;
    margin-top: 40px; }
    body .academy .prices .table-responsive td:first-child {
      font-weight: bold; }
  body .academy .prices .btn {
    margin-bottom: 40px; }
  body .academy .prices h4 {
    margin-bottom: 40px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .club .title {
  text-align: center;
  padding: 50px; }
body .club .titlebackground {
  background-image: url("../images/mozaik.jpg");
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover; }

/* --------------------------------
 *
 *clubhouse
 *
 *-------------------------------- */
body .club .clubhouse.container {
  margin-top: 20px; }
  body .club .clubhouse.container .col-md-6.img {
    background-image: url("../images/club.jpg");
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat; }
  body .club .clubhouse.container .col-md-6.txt {
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      body .club .clubhouse.container .col-md-6.txt {
        text-align: left; } }
    body .club .clubhouse.container .col-md-6.txt p {
      margin-top: 20px;
      margin-bottom: 40px; }

/* --------------------------------
 *
 *hotel
 *
 *-------------------------------- */
body .club .resto.container .col-md-6.img {
  background-image: url("../images/bar.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    body .club .resto.container .col-md-6.img {
      float: right; } }
body .club .resto.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    body .club .resto.container .col-md-6.txt {
      text-align: left; } }
  body .club .resto.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *beach
 *
 *-------------------------------- */
body .club .beach.container .col-md-6.img {
  background-image: url("../images/beach.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
body .club .beach.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    body .club .beach.container .col-md-6.txt {
      text-align: left; } }
  body .club .beach.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *accomodations
 *
 *-------------------------------- */
body .club .accomodations.container {
  padding-left: 0px;
  padding-right: 0px; }
  body .club .accomodations.container .flickity-page-dots {
    bottom: 20px; }
  body .club .accomodations.container .gallery {
    height: 360px0px;
    margin-bottom: 50px; }
    @media only screen and (min-width: 992px) {
      body .club .accomodations.container .gallery {
        height: 360px; } }
  body .club .accomodations.container .btn {
    background-color: #232529; }
  body .club .accomodations.container .title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto; }
  body .club .accomodations.container .description {
    background-color: #353942;
    padding: 50px;
    text-align: center;
    min-height: 360px; }
    @media only screen and (min-width: 992px) {
      body .club .accomodations.container .description {
        text-align: left; } }
    body .club .accomodations.container .description p, body .club .accomodations.container .description h4 {
      color: white !important; }
    @media only screen and (min-width: 992px) {
      body .club .accomodations.container .description {
        border-right: 2px solid white; } }
  body .club .accomodations.container .c1 .hotel_placeholder {
    background-image: url("../images/zenit.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left; }
    body .club .accomodations.container .c1 .hotel_placeholder img {
      max-width: 130px;
      margin-top: -10px; }
  body .club .accomodations.container .c2 .hotel_placeholder {
    background-image: url("../images/hotelbalaton.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left; }
    body .club .accomodations.container .c2 .hotel_placeholder img {
      max-width: 130px;
      margin-top: -10px; }
  body .club .accomodations.container .c3 .hotel_placeholder {
    background-image: url("../images/826_maxi.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left; }
    body .club .accomodations.container .c3 .hotel_placeholder img {
      max-width: 130px;
      margin-top: -10px; }
  body .club .accomodations.container .c4 .hotel_placeholder {
    background-image: url("../images/188uszoda.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left; }
    body .club .accomodations.container .c4 .hotel_placeholder img {
      max-width: 130px;
      margin-top: -10px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .events .title {
  text-align: center;
  padding: 50px;
  max-width: 800px;
  padding-bottom: 20px; }
  body .events .title h4 {
    padding-bottom: 20px; }
body .events .col-md-6, body .events .col-md-12 {
  padding: 0px; }
body .events .tile1 {
  background-image: url("../images/neptancest.JPG");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center; }
  @media only screen and (min-width: 767px) {
    body .events .tile1 {
      height: 600px; } }
body .events .tile2 {
  background-image: url("../images/wedding.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: none; }
  @media only screen and (min-width: 992px) {
    body .events .tile2 {
      display: block; } }
body .events .tile3 {
  background-image: url("../images/camp.JPG");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: none; }
  @media only screen and (min-width: 992px) {
    body .events .tile3 {
      display: block; } }
body .events .text P {
  text-align: center;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 0px; }
body .events .kepek {
  margin-bottom: 50px; }
body .events .prices {
  max-width: 800px;
  padding-bottom: 50px;
  text-align: center; }
  body .events .prices .table-responsive {
    text-align: left;
    margin-top: 40px; }
    body .events .prices .table-responsive td:first-child {
      font-weight: bold; }

/* --------------------------------
 *
 *csapat
 *
 *-------------------------------- */
.events .csapat.container .col-md-6.img {
  background-image: url("../images/csapat.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .events .csapat.container .col-md-6.img {
      float: right; } }
.events .csapat.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .events .csapat.container .col-md-6.txt {
      text-align: left; } }
  .events .csapat.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *eskuvo
 *
 *-------------------------------- */
.eskuvo.container .col-md-6.img {
  background-image: url("../images/wedding.jpg");
  height: 370px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px; }
  .eskuvo.container .col-md-6.img .btn {
    height: 100%;
    width: 100%;
    background-color: transparent; }
.eskuvo.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .eskuvo.container .col-md-6.txt {
      text-align: left; } }
  .eskuvo.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *csalad
 *
 *-------------------------------- */
.events .csalad.container .col-md-6.img {
  background-image: url("../images/csalad copy.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .events .csalad.container .col-md-6.img {
      float: right; } }
.events .csalad.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .events .csalad.container .col-md-6.txt {
      text-align: left; } }
  .events .csalad.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *junior
 *
 *-------------------------------- */
.events .junior.container .col-md-6.img {
  background-image: url("../images/gyerektabor.JPG");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
.events .junior.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .events .junior.container .col-md-6.txt {
      text-align: left; } }
  .events .junior.container .col-md-6.txt p {
    margin-top: 20px; }
  .events .junior.container .col-md-6.txt ul {
    padding-left: 0px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .fees {
  text-align: center; }
  body .fees .title {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    padding-bottom: 0px; }
    body .fees .title h4 {
      padding-bottom: 20px; }
  body .fees .titlebackground {
    background-image: url("../images/coach.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center; }
  body .fees .prices {
    max-width: 800px;
    text-align: center;
    padding-bottom: 50px; }
    body .fees .prices .table-responsive {
      text-align: left;
      margin-top: 40px; }
      body .fees .prices .table-responsive td:first-child {
        font-weight: bold; }
    body .fees .prices .btn {
      margin-bottom: 40px; }
    body .fees .prices h4 {
      margin-bottom: 40px; }
  body .fees .rent {
    padding-bottom: 50px; }
  body .fees .btn:focus {
    background-color: #333;
    color: white; }

body .fees .prices .btn {
  padding-top: 15px;
  margin-top: 30px; }

tr td:last-child {
  text-align: right; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .tournaments {
  text-align: center; }
  body .tournaments .title {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    padding-bottom: 0px; }
    body .tournaments .title h4 {
      padding-bottom: 20px; }
  body .tournaments .titlebackground {
    background-image: url("../images/coach.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center; }
  body .tournaments .prices {
    max-width: 800px;
    text-align: center;
    padding-bottom: 50px; }
    body .tournaments .prices .table-responsive {
      text-align: left;
      margin-top: 40px; }
      body .tournaments .prices .table-responsive td:first-child {
        font-weight: bold; }
    body .tournaments .prices .btn {
      margin-bottom: 40px; }
    body .tournaments .prices h4 {
      margin-bottom: 40px; }
  body .tournaments .rent {
    padding-bottom: 50px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *first blog post
 *
 *-------------------------------- */
body .news .cover {
  background-image: url(../images/SAM_0318.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center; }
  @media only screen and (min-width: 767px) {
    body .news .cover {
      height: 350px; } }
body .news .title {
  margin: 0 auto;
  padding-bottom: 40px; }
  body .news .title h3 {
    margin-bottom: 15px; }
  @media only screen and (min-width: 992px) {
    body .news .title {
      padding-left: 0px;
      padding-right: 0px; } }
  body .news .title .sub {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding-top: 2vw; }
  body .news .title .btn {
    margin-top: 20px;
    margin-bottom: 40px; }
  body .news .title h3 {
    margin-left: 0px; }
body .news .sec {
  background-color: #f5f5f5; }
body .news .img1 {
  height: 200px;
  width: 100%;
  background-image: url("../images/scene.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
body .news .img2 {
  height: 200px;
  width: 100%;
  background-image: url("../images/scene.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
body .news .articles {
  padding-top: 40px;
  padding-bottom: 40px; }
  body .news .articles a {
    text-decoration: none;
    color: #353942; }
body .news .col-md-6 {
  padding-bottom: 50px; }

/* --------------------------------
 *
 *navbar
 *
 *-------------------------------- */
body .subheader .logo_container {
  max-width: 100px;
  border: none;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  margin-top: -1px;
  float: initial; }
  @media only screen and (min-width: 992px) {
    body .subheader .logo_container {
      max-width: 100px;
      margin: inherit; } }
  body .subheader .logo_container img {
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 5px; }
body .subheader .horizontal {
  left: 70px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .gallery {
  text-align: center; }
  body .gallery .title {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    padding-bottom: 0px; }
    body .gallery .title h4 {
      padding-bottom: 20px; }
  body .gallery .titlebackground {
    background-image: url("../images/coach.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center; }
  body .gallery .prices {
    max-width: 800px;
    text-align: center;
    padding-bottom: 50px; }
    body .gallery .prices .table-responsive {
      text-align: left;
      margin-top: 40px; }
      body .gallery .prices .table-responsive td:first-child {
        font-weight: bold; }
    body .gallery .prices .btn {
      margin-bottom: 40px; }
    body .gallery .prices h4 {
      margin-bottom: 40px; }
  body .gallery .rent {
    padding-bottom: 50px; }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .signup .title {
  text-align: center;
  padding: 50px;
  max-width: 800px;
  padding-bottom: 20px; }
  body .signup .title h4 {
    padding-bottom: 20px; }

/* --------------------------------
 *
 *elmeny
 *
 *-------------------------------- */
.signup .elmeny.container .col-md-6.img {
  background-image: url("../images/8247.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .signup .elmeny.container .col-md-6.img {
      float: right; } }
.signup .elmeny.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .signup .elmeny.container .col-md-6.txt {
      text-align: left; } }
  .signup .elmeny.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *elerheto
 *
 *-------------------------------- */
.signup .elerheto.container .col-md-6.img {
  background-image: url("../images/7747.jpg");
  height: 370px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px; }
  .signup .elerheto.container .col-md-6.img .btn {
    height: 100%;
    width: 100%;
    background-color: transparent; }
.signup .elerheto.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .signup .elerheto.container .col-md-6.txt {
      text-align: left; } }
  .signup .elerheto.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *ajanlat
 *
 *-------------------------------- */
.signup .ajanlat.container .col-md-6.img {
  background-image: url("../images/2595.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .signup .ajanlat.container .col-md-6.img {
      float: right; } }
.signup .ajanlat.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .signup .ajanlat.container .col-md-6.txt {
      text-align: left; } }
  .signup .ajanlat.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *tanfolyam
 *
 *-------------------------------- */
.signup .tanfolyam {
  text-align: center; }
  .signup .tanfolyam h4 {
    margin-top: 50px;
    margin-bottom: 10px; }
  .signup .tanfolyam p {
    margin-bottom: 30px; }
  .signup .tanfolyam .dropdown {
    float: none;
    margin: 0 auto;
    max-width: 250px; }
  .signup .tanfolyam .dropdown-menu {
    left: 8px;
    min-width: 255px;
    z-index: 100000;
    top: 40px; }
  .signup .tanfolyam .btn-primary, .signup .tanfolyam .btn-primary.active, .signup .tanfolyam .btn-primary.focus, .signup .tanfolyam .btn-primary:active, .signup .tanfolyam .btn-primary:focus, .signup .tanfolyam .btn-primary:hover, .signup .tanfolyam .open > .dropdown-toggle.btn-primary {
    margin-top: 10px;
    margin-bottom: 50px;
    min-width: 250px; }

#signupModal .modal-body {
  margin-top: 20px;
  min-height: 485px; }
  #signupModal .modal-body h4 {
    margin-bottom: 30px; }
#signupModal .dropdown {
  float: left;
  margin-top: 0px; }
#signupModal .modal-footer {
  text-align: center; }
  @media only screen and (min-width: 992px) {
    #signupModal .modal-footer {
      text-align: right; } }

/* --------------------------------
 *
 *title
 *
 *-------------------------------- */
body .foreign .title {
  text-align: center;
  padding: 50px;
  max-width: 800px;
  padding-bottom: 20px; }
  body .foreign .title h4 {
    padding-bottom: 20px; }

/* --------------------------------
 *
 *golf
 *
 *-------------------------------- */
.foreign .golf.container .col-md-6.img {
  background-image: url("../images/2595.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .foreign .golf.container .col-md-6.img {
      float: right; } }
.foreign .golf.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .foreign .golf.container .col-md-6.txt {
      text-align: left; } }
  .foreign .golf.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *vitorlazas
 *
 *-------------------------------- */
.foreign .vitorlazas.container .col-md-6.img {
  background-image: url("../images/vitorla.jpg");
  height: 370px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px; }
  .foreign .vitorlazas.container .col-md-6.img .btn {
    height: 100%;
    width: 100%;
    background-color: transparent; }
.foreign .vitorlazas.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .foreign .vitorlazas.container .col-md-6.txt {
      text-align: left; } }
  .foreign .vitorlazas.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *bor
 *
 *-------------------------------- */
.foreign .bor.container .col-md-6.img {
  background-image: url("../images/bor.jpg");
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 992px) {
    .foreign .bor.container .col-md-6.img {
      float: right; } }
.foreign .bor.container .col-md-6.txt {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .foreign .bor.container .col-md-6.txt {
      text-align: left; } }
  .foreign .bor.container .col-md-6.txt p {
    margin-top: 20px;
    margin-bottom: 40px; }

/* --------------------------------
 *
 *szallas
 *
 *-------------------------------- */
.foreign .szallas.container {
  margin-bottom: 40px; }
  .foreign .szallas.container .col-md-6.img {
    background-image: url("../images/hotelbalaton.jpg");
    height: 370px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right: 0px; }
    .foreign .szallas.container .col-md-6.img .btn {
      height: 100%;
      width: 100%;
      background-color: transparent; }
  .foreign .szallas.container .col-md-6.txt {
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .foreign .szallas.container .col-md-6.txt {
        text-align: left; } }
    .foreign .szallas.container .col-md-6.txt p {
      margin-top: 20px;
      margin-bottom: 40px; }
  .foreign .szallas.container .offer {
    text-align: center;
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 40px; }
    .foreign .szallas.container .offer p {
      max-width: 800px;
      margin: 0 auto; }
    .foreign .szallas.container .offer button {
      margin-top: 20px; }
