

@import ../partials/variables

// colors, fonts etc...

@import ../partials/mixins

// custom mixins

@import ../partials/layout

/* -------------------------------- 
 *
 *navbar
 *
 *--------------------------------
body
	.subheader
		.logo_container
			max-width: 100px
			border: none
			position: relative
			background-color: white
			text-align: center
			margin: 0 auto
			display: block
			z-index: 10000
			margin-top: -1px
			float: initial

			+MQ (M)
				max-width: 100px
				margin: inherit

			img
				max-width: 50px
				margin-top: 20px
				margin-bottom: 5px
		.horizontal
			left: 70px
/* -------------------------------- 
 *
 *title
 *
 *--------------------------------
body
	.about	
		.title
			text-align: center
			padding: 50px
			max-width: 800px
			h4
				padding-bottom: 20px

			.form
				margin-top: 40px

			.btn
				margin-top: 20px
				
			.form-group
				max-width: 350px
				margin: 0 auto



		.titlebackground
			background-color: #ecebdd
			background-repeat: no-repeat
			height: 400px
			background-size: cover
			background-position: center
			padding-left: 0px
			padding-right: 0px


	.google-maps
		position: relative
		padding-bottom: 75%
		height: 0
		overflow: hidden

	iframe

		width: 100% !important
		height: 400px
	.overlay
		background: transparent
		position: relative
		width: 100%
		height: 400px
		top: 400px
		margin-top: -400px
/* -------------------------------- 
 *
 *title
 *
 *--------------------------------
.golfclubpartners
	padding-left: 0px
	padding-right: 0px
	text-align: center
	h4
		padding-top: 40px
		padding-bottom: 40px
	.image
		
		background-size: cover
		background-repeat: no-repeat
		min-height: 300px
	.one
		background-image: url(../images/sonnengolf.jpg)
	.two
		background-image: url(../images/zalasprings.jpg)
	.three
		background-image: url(../images/zalasprings.jpg)

	.four
		background-image: url(../images/zalasprings.jpg)


	.col-md-6
		padding-left: 0px

		padding-right: 0px
		text-align: center
		h3
			margin-top: 30px
			top: 130px
			color: white !important
			position: absolute
			margin: 0 auto
			text-align: center
			width: 100%

		h3:after
			content: ""
			height: 1px
			width: 40px
			display: block
			background-color: white
			margin: 0 auto
			margin-top: 13px
			-webkit-transition: all 0.3s ease-in-out
			-moz-transition: all 0.3s ease-in-out
			-o-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out

		h2
			position: absolute
			bottom: 70px
			width: 100%
			margin: 0 auto
			color: white !important
			opacity: 0 !important
			-webkit-transition: all 0.3s ease-in-out
			-moz-transition: all 0.3s ease-in-out
			-o-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out



	.col-md-6:hover h2
		opacity: 1 !important
		cursor: pointer
		bottom: 100px

	.col-md-6:hover h3:after
		width: 80%

	.overlay_p
		background: rgba(0, 0, 0, 0.48)
		position: relative
		width: 100%
		min-height: 300px
		top: 301px
		margin-top: -300px

/* -------------------------------- 
 *
 *servicePartners
 *
 *--------------------------------
.servicepartners
	text-align: center
	h4
		margin-bottom: 40px
		padding-top: 50px
	.col-md-2
		text-align: center
		padding-top: 20px
		padding-bottom: 20px

	img
		max-width: 135px  