doctype html
html
	include ./head
	body
		.about


			// Loader
			//.loader
				//.loader_inner
			// end Loader


			// Header
			header
				.container.top-container
					.row
						.col-md-12
							.dropdown
								button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Eng
									span.caret
								ul.dropdown-menu(aria-labelledby='dropdownMenu1')
									li
										a(href='#') Engligh
									li
										a(href='#') Hungarian
									li
										a(href='#') German					
							// Logo
							a.logo_container(href="index.html")
								img(src="images/logo-hor.png")
							.horizontal
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a.active(href='about.html') Rólunk
							// end Logo

							// Menu
							button.toggle_menu
								p MENU
								span.sandwich
									span.sw-topper
									span.sw-bottom
									span.sw-footer


							nav.top_menu
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Menu
			// end Header

			// title
			.container.title
				h4 RÓLUNK
				p A Golfclub Imperial Balaton egy tóparti, klasszikus linkscourse golfpálya, ahol páratlan természeti környezetben hódolhatnak kedvenc sportáguknak a golfozni vágyók, valamint sajátíthatják el a sportág elméletét és gyakorlatát az erre igényt tartók. Klubunkat Balatongyörök községben, gépjárművel a 71-es főútvonalon haladva érik el. Az alábbi elérhetőségek bármelyikén kapcsolatba léphet velünk, vagy használja kérdésfeltevésre, véleménynyilvánításra az alábbi formot, és mi igyekszünk válaszolni! 
			.container.titlebackground
				.overlay(onclick="style.pointerEvents='none'")
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6782.733665605803!2d17.365990814117605!3d46.77711320842916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769023a62aef2cd%3A0xf00c42a07e36190!2sGolfclub+Imperial+Balaton!5e0!3m2!1shu!2shu!4v1465482382607" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			.container.title
				h3 Lépjen kapcsolatba velünk!
				p Phone: +36/83346031
				p Email: clubhouse@golfimperial.hu
				h3(style="margin-top: 60px") Nyitva tartás
				P Klubunk rendhagyó módon egész évben várja a golf barátait.
				P(style="font-weight: bold") Nyáron:
				P Március 1-től november 15-ig, minden nap 8:30 és 19:00 között.
				P(style="font-weight: bold") Télen:
				p November 16-tól február 28-ig, minden pénteken és szombaton 10:00 és 17:00 között. 
			// coaches
			// Footer
			include ./footer
		// end Footer
		// some scripts for IE
		//if lt IE 9
			script(src='lib/es5-shim/js/es5-shim.min.js')
			script(src='lib/html5shiv/js/html5shiv.min.js')
			script(src='lib/html5shiv/js/html5shiv-printshiv.min.js')

		// Trigger for scroll
		script(src='lib/waypoints/js/waypoints.min.js')


		// Some main scripts
		script(src='js/min/animate-css.min.js')
		script(src='js/min/common.min.js')
		
