doctype html
html
	include ./head
	body
		.events


			// Loader
			//.loader
				//.loader_inner
			// end Loader


			// Header
			header
				.container.top-container
					.row
						.col-md-12
							.dropdown
								button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Eng
									span.caret
								ul.dropdown-menu(aria-labelledby='dropdownMenu1')
									li
										a(href='#') Engligh
									li
										a(href='#') Hungarian
									li
										a(href='#') German					
							// Logo
							a.logo_container(href="index.html")
								img(src="images/logo-hor.png")
							.horizontal
								ul
									li
										a.active(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Logo

							// Menu
							button.toggle_menu
								p MENU
								span.sandwich
									span.sw-topper
									span.sw-bottom
									span.sw-footer


							nav.top_menu
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Menu
				.container-fluid.second_nav
					.container
						a(href='club.html') Klub-élet	
						a(href='http://birdiebook.golfly.hu/8/24/en', target='_blank') Golfpálya
						a(href='academy.html') Akadémia
						a.active(href='events.html') Események

			// end Header

			// title
			.container.title
				h4 Események
			.container.text
				p A Golfclub Imperial Balaton és az Imperial Coffee & Bistro a golfpálya hagyományos funkciói mellett egyéb lehetőségeket is biztosít az érdeklődőknek. Igény szerint közösségi és családi programok szervezésére is rendelkezésükre bocsátjuk száz fős rendezvénytermünket és a hozzá tartozó területeket! 
			.container.kepek
				.col-md-6.tile1
				.col-md-6
					.container-fluid
						.col-md-12.tile2
						.col-md-12.tile3
			.container.prices
				h3 Csapatépítő foglalkozás
				p Egy ismeretlen sportág felfedezése, vagy egy már kedvelt közös űzése nagyon jó program a társaság összehozására. Erre szeretnénk lehetőséget teremteni másfél órás csapatépítő foglalkozásainkkal, melyek ebéddel vagy akár vacsorával is kombinálhatóak. A táblázatban szereplő árak másfél órás, oktató által vezetett foglalkozást tartalmaznak ezen felül pedig igény szerint étkezést is biztosítunk.
				.table-responsive
					table.table
						tr
							td Csapatépítő foglalkozás 20 főtől
							td 2 400 Ft/fő
						tr
							td Csapatépítő foglalkozás 10 főtől
							td 3 600 Ft/fő
				h3 Esküvő
				p A festői táj, a finom borok, a nagy terek mind-mind ideális körülményeket biztosítanak egy ifjú pár számára, hogy klubházunkat és pályánkat válasszák életük fontos momentumának helyszínéül. A hely bérlése már 80000 Ft+ Áfa áron lehetséges.
				h3 Családi rendezvény
				p Legyen szó születésnapról, keresztelőről vagy évfordulóról, a balatoni környezet, a nagy zöldterület és a tágas rendezvényház nyitott kapukkal várja Önöket és rokonaikat.Amennyiben felkeltettük érdeklődését további információkért és árajánlatért forduljon hozzánk bizalommal!
				p Telefon: +36/83 346 031
				p E-mail: clubhouse@golfclubimperial.hu 
				h3 Junior táborok
				p A tavalyi nagysikerű napközis golf táborunkat idén júliusban is megrendezzük  x és  y között, hétfőtől péntekig reggel 8-tól délután 17 óráig várunk titeket. A táborban napi 2x120 perces golf oktatás, változatos szabadidős programok és napi háromszori étkezés biztosított.
				p Hogyan tudtok jelentkezni?
				p - A  jelentkezési lap elküldésével a tabor@golfclubimperial.hu e-mail címre
				p - Tábor ára: xxx
				p - Fizetés módja: készpénz vagy átutalás
				p - Jelentkezési feltétel: x -tól y éves korig


			// coaches
			// Footer
			include ./footer
		// end Footer
		// some scripts for IE
		//if lt IE 9
			script(src='lib/es5-shim/js/es5-shim.min.js')
			script(src='lib/html5shiv/js/html5shiv.min.js')
			script(src='lib/html5shiv/js/html5shiv-printshiv.min.js')

		// Trigger for scroll
		script(src='lib/waypoints/js/waypoints.min.js')


		// Some main scripts
		script(src='js/min/animate-css.min.js')
		script(src='js/min/common.min.js')
		
