html
	body
		footer.main_footer.bg_dark
			.container
				.col-md-12
					.copyright
						© Golf Club Imperials. All rights reserved.
					.social_wrap
						ul
							li
								a(href='https://www.facebook.com/Golfclub-Imperial-Balaton-Balatongy%C3%B6r%C3%B6k-335067800034/', target='_blank')
									i.fa.fa-facebook
								a(href='http://hungolf.hu/ctnt/uploads/rules/a_golf_szabalyai.pdf', target='_blank') Versenyszabályzat
								a(href='https://drive.google.com/file/d/0B0eTUC5dd_ezMzY1ME81d05MeTZka2l1eUNsSzV3dGZHNVBR/view?usp=sharing', target='_blank') Golf tippek
								a(href='https://drive.google.com/file/d/0B0eTUC5dd_ezWGhjdk9RQXhpTVk/view?usp=sharing', target='_blank') Versenynaptár
