html
	body
		footer.main_footer.bg_dark
			.container
				.col-md-12
					.copyright
						© Golf Club Imperials. All rights reserved.
					.social_wrap
						ul
							li
								a(href='https://www.facebook.com/Golfclub-Imperial-Balaton-Balatongy%C3%B6r%C3%B6k-335067800034/', target='_blank')
									i.fa.fa-facebook
