doctype html
html
	include ./head
	body
		.gallery


			// Loader
			//.loader
				//.loader_inner
			// end Loader


			// Header
			header
				.container.top-container
					.row
						.col-md-12
							.dropdown
								button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Eng
									span.caret
								ul.dropdown-menu(aria-labelledby='dropdownMenu1')
									li
										a(href='#') Engligh
									li
										a(href='#') Hungarian
									li
										a(href='#') German					
							// Logo
							a.logo_container(href="index.html")
								img(src="images/logo-hor.png")
							.horizontal
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a.active(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Logo

							// Menu
							button.toggle_menu
								p MENU
								span.sandwich
									span.sw-topper
									span.sw-bottom
									span.sw-footer


							nav.top_menu
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Menu
			// end Header

			// title
			.container.title
				h4 Galéria


			// Footer
			include ./footer
		// end Footer
		// some scripts for IE
		//if lt IE 9
			script(src='lib/es5-shim/js/es5-shim.min.js')
			script(src='lib/html5shiv/js/html5shiv.min.js')
			script(src='lib/html5shiv/js/html5shiv-printshiv.min.js')

		// Trigger for scroll
		script(src='lib/waypoints/js/waypoints.min.js')


		// Some main scripts
		script(src='js/min/animate-css.min.js')
		script(src='js/min/common.min.js')
		
