doctype html
html
	include ./head
	body
		.news


			// Loader
			//.loader
				//.loader_inner
			// end Loader


			// Header
			header
				.container.top-container
					.row
						.col-md-12
							.dropdown
								button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Eng
									span.caret
								ul.dropdown-menu(aria-labelledby='dropdownMenu1')
									li
										a(href='#') Engligh
									li
										a(href='#') Hungarian
									li
										a(href='#') German					
							// Logo
							a.logo_container(href="index.html")
								img(src="images/logo-hor.png")
							.horizontal
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a.active(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Logo

							// Menu
							button.toggle_menu
								p MENU
								span.sandwich
									span.sw-topper
									span.sw-bottom
									span.sw-footer


							nav.top_menu
								ul
									li
										a(href='club.html') A Klub
									li
										a(href='fees.html') Áraink
									li
										a(href='tournaments.html') Tournaments
									li
										a(href='gallery.html') Galéria
									li 
										a(href='news.html') Hírek
									li
										a(href='about.html') Rólunk
							// end Menu
			// end Header

			// title
			.container.cover

			.container.title
				.container.sub
					h3 First blog post
					p 2016 May 16
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					button.btn.btn-default(type='button') Read more

			.container.title.sec
				.container.sub
					h3 Second blog post
					p 2016 May 16
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					button.btn.btn-default(type='button') Read more

			.container.title.articles
				.container.sub
					.col-md-6
						.img1
						a(href="")
							h3 This is a blog article
							p 2016 april 2
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						a(href="", style="bold") Read more
					.col-md-6
						.img2
						a(href="")
							h3 This is a blog article
							p 2016 May 1
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						a(href="", style="bold") Read more
			// Footer
			include ./footer

		// end Footer
		// some scripts for IE
		//if lt IE 9
			script(src='lib/es5-shim/js/es5-shim.min.js')
			script(src='lib/html5shiv/js/html5shiv.min.js')
			script(src='lib/html5shiv/js/html5shiv-printshiv.min.js')

		// Trigger for scroll
		script(src='lib/waypoints/js/waypoints.min.js')


		// Some main scripts
		script(src='js/min/animate-css.min.js')
		script(src='js/min/common.min.js')
		
